---
layout: default
---
<article>
	{% if page.img-top %}
	<img src="{{ page.img }}" alt="Alt" class="post-image post-image_top">
	{% endif %}
	<div class="wrapper">
		<header class="post-header">
			<h2>{{ page.title }}</h2>
			<p class="post-info">Опубликовано <time>{{ page.date | date: "%d-%m-%Y" }}</time> в категории <a href="{{ site.url }}/categories/{{ page.category }}" class="post-category">{{ page.category }} <i class="fa fa-tag" aria-hidden="true"></i></a></p>
			<hr>
		</header>
		<main class="post-main">
			{{ content }}
		</main>
	</div>
</article>